#headerPhoto{
	background: url("../images/temporaryHeaderImage.jpg");
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;

	h1 {
		font-family: 'GlacialIndifferenceBold';
	 text-transform: uppercase;
   font-style: normal;
	 font-size: 2.5em;
	 letter-spacing: 5px;
	}

	.btn {
		border-radius: 0;
	}
	a {
			color: white;
			text-transform: uppercase;
			font-size: .7em;
			margin-bottom: -12px;
	}

	h6 {
		letter-spacing: 2px;
	}

	h4 {
		font-weight: 400;
		letter-spacing: 3px;
	}

	div {
		margin: 0;
	    position: absolute;
	    background-color: rgba(black, .5);
	    top: 50%;
	    left: 50%;
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    text-align: center;
	    width: 100%;
	    color: white;

	    .headerCsharp{
	    	height: 50px;
	    }
	}
}

.purpleButton{
	background-color: $purple;
}
